.advantages-section {
    background: #F6F6F6;
    padding: 70px 0 67px 0;
    .advantages {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        list-style-type: none;
        text-align: center;
        color: #0D0D0D;
        &__item {
            max-width: 229px;
        }
        &__subtitle {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            margin-top: 35px;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            margin-top: 20px;
            a {
                color: #FF0000;
            }
        }
        &__icon {
            &_animated {
                animation: heartbeat 1.5s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}
